{% extends "layout.html" %}

{# Variável para se comunicar com 'layout' #}
{% set page = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta</title>
{% endblock title %}

<!--Importação dos estilos-->
{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html"%}
    <!--Box com duas segmentações-->
    <form action="">
        <h1>Cadastro do ponto de coleta</h1>

        <!--Coleção de campos, como 'divs'-->
        <fieldset>

            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <!----------------------Agrupamentos---------------------->

            <div class="field-group">
                <div class="field">
                    <!--'label' pertence ao respectivo 'input'-->
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <!--'label' pertence ao respectivo 'input'-->
                    <label for="name">Imagem da Entidade</label>
                    <input type="url" name="image" placeholder="https://" required="required">
                </div>

            </div>

            <!--Nome-->

            <!--Endereço e número/complemento-->
            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>
                <div class="field">
                    <label for="address2">Número/Complemento</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <!--Cidade e Estado-->
            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>

                    <!--Para aparecer na URL o nome do estado (e não um índice, que vinha do JSON, isto é tratado no script 'create-point.js')-->
                    <input type="hidden" name="state">
                </div>
                <!--Não deve ser capaz de selecionar a cidade antes do estado-->
                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" id="seletorCidades" required="required">
                        <option value="">Selecione a Cidade</option>
                    </select>
                </div>

            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">
                <!--Lista de componentes-->
                <li data-id="1" class="selected">
                    <img src="/assets/lampadas.svg" alt="Lâmpadas">
                    <span>Lâmpadas</span>
                </li>
                <li data-id="2">
                    <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
                    <span>Pilhas e Baterias</span>
                </li>
                <li data-id="3">
                    <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                    <span>Papéis e Papelão</span>
                </li>
                <li data-id="4">
                    <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                    <span>Resíduos Eletrônicos</span>
                </li>
                <li data-id="5">
                    <img src="/assets/organicos.svg" alt="Resíduos Orgânicos">
                    <span>Resíduos Orgânicos</span>
                </li>
                <li data-id="6">
                    <img src="/assets/oleo.svg" alt="Óleo de Cozinha">
                    <span>Óleo de Cozinha</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>

        <button type="submit">Cadastrar ponto de coleta</button>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}

</body>
</html>